######################################
### Config repository ignore rules ###
######################################

# First exclude all files
*

# Then re-include hidden files
!/.gitignore
!/.*
!/.*/**

# But still ignore temprary files
*~
