[user]
	name = Stephen Horst
	email = sjhorst@jpl.nasa.gov
	signingkey = E6D22ABA
[core]
	editor = vim
[merge]
    tool = vimdiff
	conflictstyle = diff3
	defaulttoupstream = true
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[http]
	sslVerify = false
