######################################
### Config repository ignore rules ###
######################################

# First exclude all files
*

# Then re-include hidden files
!/.gitignore
!/.*
!/.*/**

# Also include custom bash scripts
!/scripts
!/scripts/**

# But still ignore temprary files
*~
